html {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, sans-serif;
  min-height: 100%;
  text-align: center;
}
body {
  margin: 0 auto;
  padding: 10px;
}


#weather-icon-container {
  animation: float 5s ease-in-out infinite;
}


.light-mode {
  background: linear-gradient(180deg, white 5%, skyblue 50%);
  color: black;
}
.dark-mode {
  background: linear-gradient(180deg, #070B34 5%, #6B4984 50%);
  color: white;
  filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.4));
}

@keyframes float {
	0% {
		filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.6));
		transform: translateY(0px);
	}
	50% {
		filter: drop-shadow(0 25px 15px 0px rgba(0,0,0,0.2));
		transform: translateY(-20px);
	}
	100% {
		filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.6));
		transform: translateY(0px);
	}
}